<app-header></app-header>

<div class="home" id="home">
   <div class="content">
       <h3>Fresh Flowers</h3>
       <p class="span">Gift flowers to your loved ones</p>
       <p>We have a flower for all occassions</p>
       <a routerLink="/flowers" class="btn"> Shop Now</a>
   </div>
</div>

<div id="occassions">
   <h3>OCCASIONS</h3>
</div>

<div class="icons-container">
    <mat-grid-list cols="3" rows="2" gutterSize="20px">
      <mat-grid-tile>
        <mat-card>
         <img src="assets/images/icon-1.jpg">
         <mat-card-title>Birthday</mat-card-title>
        </mat-card>

      </mat-grid-tile>
      <mat-grid-tile>
    <mat-card>
         <img src="assets/images/icon-2.jpeg">
         <mat-card-title>Anniversary</mat-card-title>
    </mat-card>

      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
         <img src="assets/images/icon-3.jpg">
         <mat-card-title>Celebrations</mat-card-title>
        </mat-card>

      </mat-grid-tile>
   
    </mat-grid-list> 

</div>

<!--icons section ends-->

<!--Products section stars-->

<div class="products" id="products">
<h1 class="heading">TOP PICKS</h1>
<div class="box-container">
   <div class="box">
       <span class="discount">-10%</span>
       <div class="image">
           <img src="assets/images/img-1.jpg" alt="" appImageHover>
          
       </div>
       <div class="content">
           <h3>Tulip pot</h3>
           <div class="price">₹650 <span>₹800</span></div>
       </div>
   </div>

   <div class="box">
       <span class="discount">-15%</span>
       <div class="image">
           <img src="assets/images/img-2.jpg" alt="" appImageHover>
      
       </div>
       <div class="content">
           <h3>Tulip Happy Pot</h3>
           <div class="price">&#8377;950<span>&#8377;1250</span></div>
       </div>
   </div>

   <div class="box">
       <span class="discount">-5%</span>
       <div class="image">
           <img src="assets/images/img-3.jpg" alt="" appImageHover >
          
       </div>
       <div class="content">
           <h3>Rose vase</h3>
           <div class="price">&#8377;950<span>&#8377;1250</span></div>
       </div>
   </div>

   <div class="box">
       <span class="discount">-20%</span>
       <div class="image">
        
           <img src="assets/images/img-4.jpg" alt="" appImageHover>
           
       </div>
       <div class="content">
        <h3>Flower Pot</h3>
        <div class="price">₹850<span>₹1150</span></div>
    </div>
       
   </div>

   <div class="box">
       <span class="discount">-17%</span>
       <div class="image">
           <img src="assets/images/img-5.jpg" alt="" appImageHover>
           
       </div>
       <div class="content">
           <h3>Lilly Pot</h3>
           <div class="price">₹850<span>₹1150</span></div>
       </div>
   </div>

   <div class="box">
       <span class="discount">-3%</span>
       <div class="image">
           <img src="assets/images/img-6.png" alt="" appImageHover>
           
       </div>
       <div class="content">
           <h3>Rich Red flower Bouquet</h3>
           <div class="price">₹650<span>₹950</span></div>
       </div>
   </div>

   <div class="box">
       <span class="discount">-18%</span>
       <div class="image">
           <img src="assets/images/img-7.jpg" alt="" appImageHover>
           
       </div>
       <div class="content">
           <h3>Tulips in glass Vase</h3>
           <div class="price">₹250<span>₹550</span></div>
       </div>
   </div>

   <div class="box">
       <span class="discount">-10%</span>
       <div class="image">
           <img src="assets/images/img-8.jpg" alt="" appImageHover>
           
       </div>
       <div class="content">
           <h3>Red Flower Pot</h3>
           <div class="price">&#8377;300<span>&#8377;500</span></div>
       </div>
   </div>

   <div class="box">
       <span class="discount">-5%</span>
       <div class="image">
           <img src="assets/images/img-9.jpg" alt="" appImageHover>
           
       </div>
       <div class="content">
           <h3>Tulip vase</h3>
           <div class="price">&#8377;680 <span>&#8377;930</span></div>
       </div>
   </div>

   <div class="box">
       <span class="discount">-11%</span>
       <div class="image">
           <img src="assets/images/img-10.png" alt="" appImageHover>
           
       </div>
       <div class="content">
           <h3>Rose Bouquet</h3>
           <div class="price">&#8377;200 <span>&#8377;550</span></div>
       </div>
   </div>

   <div class="box">
       <span class="discount">-9%</span>
       <div class="image">
           <img src="assets/images/img-11.png" alt="" appImageHover>
           
       </div>
       <div class="content">
           <h3>Lotus in Vase</h3>
           <div class="price">&#8377;300 <span>&#8377;500</span></div>
       </div>
   </div>

   <div class="box">
       <span class="discount">-5%</span>
       <div class="image">
           <img src="assets/images/img-12.png" alt="" appImageHover>
          
       </div>
       <div class="content">
           <h3>Flower pot</h3>
           <div class="price">&#8377;400<span>&#8377;699</span></div>
       </div>
   </div>
</div>
</div>
<!--Products section ends-->


<!--review section starts-->
<section class="review" id="review">
<h1 class="heading">customer's <span>review</span></h1>
<div class="box-container">
   <div class="box">
       
       <p>Great experience shopping in House of Blooms.Great place to buy flowers.</p>
       <div class="user">
           <img src="assets/images/pic-1.png" alt="">
           <div class="user-info">
               <h3>Ram</h3>
               <span>Happy Customers</span>
           </div>
       </div>
       
   </div>

   <div class="box">
       
       <p>Flowers were fresh!,definetly coming back to House of Blooms.</p>
       <div class="user">
           <img src="assets/images/pic-2.png" alt="">
           <div class="user-info">
               <h3>Krishika</h3>
               <span>Happy Customers</span>
           </div>
       </div>
       
   </div>

   <div class="box">
      
       <p>Fresh flowers at reasonable prices</p>
       <div class="user">
           <img src="assets/images/pic-3.png" alt="">
           <div class="user-info">
               <h3>Tilak</h3>
               <span>Happy Customers</span>
           </div>
       </div>
      
   </div>

</div>
</section>

<app-footer></app-footer>