.not-found-container {
    text-align: center;
    margin-top: 20%;
   
  }

  h1 {
    color: #ff0000; 
    font-size: 40px;
  }

  a {
    color: #a200ff; 
    text-decoration: underline;
    cursor: pointer;
  }